.cardSprintAsaidContenedor {
    background-color: rgb(127, 255, 176);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

.botoneraCardSprint {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.botonCardVerSprint,
.botonCardEditarSprint,
.botonCardEliminarSprint {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botonCardVerSprint img,
.botonCardEditarSprint img,
.botonCardEliminarSprint img {
    height: 24px;
    width: 24px;
}

.botonCardVerSprint {
    background-color: rgb(54, 220, 241);
}

.botonCardVerSprint:hover {
    background-color: rgb(45, 179, 197);
}

.botonCardEditarSprint {
    background-color: rgb(54, 220, 241);
}

.botonCardEditarSprint:hover {
    background-color: rgb(45, 179, 197);
}

.botonCardEliminarSprint {
    background-color: rgb(255, 0, 0);
}

.botonCardEliminarSprint:hover {
    background-color: rgb(212, 0, 0);
}